<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= eps %></title>
    <link href="/css/movie_detail.css" rel="stylesheet" type="text/css" />
  </head>
  <div id="textbox">
    <h1 class="alignleft"><a href="/">home</a></h1>
    <h1 class="aligncenter"><a href="/<%= title %>"><%= title %></a></h1>
  </div>
  <div style="clear: both"></div>
  <div id="textbox">
    <h1 class="alignleft"><a href="/<%= title %>">back</a></h1>
    <h1 class="aligncenter"><%= eps %></h1>
  </div>
  <div style="clear: both"></div>
  <body>
    <center>
      <video class="c-video" autoplay controls>
        <source src="/movies/<%= title %>/<%= eps %>" type="video/mp4" />
      </video>
    </center>
    <div id="textbox">
      <h1 class="alignleft">
        <a href="/<%= title %>/<%= epsPrev %>">prev</a>
      </h1>
      <h1 class="aligncenter"></h1>
      <h1 class="alignright">
        <a href="/<%= title %>/<%= epsNext %>">next</a>
      </h1>
    </div>
    <div style="clear: both"></div>
  </body>
</html>
