<!DOCTYPE html>
<html>
  <head>
    <title><%= titleCap %></title>
    <link href="/css/movie_detail.css" rel="stylesheet" type="text/css" />
  </head>
  <div id="textbox">
    <h1 class="alignleft"><a href="/<%= title %>">back</a></h1>
    <h1 class="aligncenter"><a href="/">Rumah Daud</a></h1>
  </div>
  <div style="clear: both"></div>
  <div id="textbox">
    <h1 class="alignleft"></h1>
    <h1 class="aligncenter"><%= titleCap %></h1>
  </div>
  <div style="clear: both"></div>
  <body>
    <center>
      <video class="c-video" autoplay controls>
        <source src="/movies/<%= title %>/<%= eps %>" type="video/mp4" />
      </video>
    </center>
  </body>
</html>
